*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:#0b1120;
color:white;
font-family:Arial,sans-serif;

}



header{

height:80px;

display:flex;
align-items:center;
justify-content:space-between;

padding:0 30px;

background:#111827;

border-bottom:1px solid #334155;

}



.logo{

display:flex;
align-items:center;
gap:12px;

font-size:28px;
font-weight:bold;

color:#3b82f6;

}



.logo img{

width:45px;
height:45px;

}



button{

background:#2563eb;

border:none;

color:white;

padding:12px 20px;

border-radius:8px;

cursor:pointer;

}



button:hover{

background:#1d4ed8;

}



.top-buttons button{

margin-left:10px;

}



.slicer{

display:flex;

height:calc(100vh - 80px);

}



.settings{

width:330px;

background:#111827;

padding:25px;

overflow-y:auto;

}



.settings h2{

margin-top:20px;

margin-bottom:10px;

}



select{

width:100%;

padding:12px;

background:#0f172a;

color:white;

border:1px solid #334155;

border-radius:8px;

}



label{

display:block;

margin-top:15px;

color:#cbd5e1;

}



input[type="range"]{

width:100%;

accent-color:#2563eb;

margin-top:10px;

}




.patterns{

display:flex;

flex-direction:column;

gap:8px;

margin-top:15px;

}



.pattern{

display:flex;

align-items:center;

gap:15px;

background:#1e293b;

border:1px solid #334155;

text-align:left;

}



.pattern img{

width:45px;

height:45px;

background:#0f172a;

border-radius:6px;

}



.pattern.selected{

border:2px solid #2563eb;

}



.slice{

width:100%;

margin-top:25px;

font-size:17px;

}



.viewer{

flex:1;

display:flex;

flex-direction:column;

align-items:center;

padding:30px;

}



.model{

width:80%;

height:70%;

background:#111827;

border:2px dashed #334155;

border-radius:20px;

}



.info{

margin-top:20px;

color:#94a3b8;

}
