*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:#0f172a;
color:white;
font-family:Arial, sans-serif;

}



header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 40px;

background:#111827;

}



.logo{

display:flex;
align-items:center;
gap:12px;

font-size:30px;
font-weight:bold;

color:#3b82f6;

}



.logo img{

width:45px;
height:45px;

}



nav{

display:flex;
gap:25px;

}


nav a{

color:white;
text-decoration:none;

}



nav a:hover{

color:#3b82f6;

}



.app{

padding:50px;

text-align:center;

}



.subtitle{

color:#cbd5e1;
margin-top:10px;

}



.workspace{

display:flex;
gap:30px;

margin-top:40px;

justify-content:center;

}



.upload-box,
.preview,
.settings{

background:#1e293b;

border-radius:20px;

padding:30px;

}



.upload-box{

width:350px;

border:2px dashed #3b82f6;

}



.preview{

width:500px;
height:350px;

}



button{

margin-top:20px;

padding:15px 35px;

background:#2563eb;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}



button:hover{

background:#1d4ed8;

}



.cube{

width:120px;
height:120px;

background:#3b82f6;

margin:80px auto;

border-radius:15px;

}



.settings{

margin:40px auto;

max-width:400px;

text-align:left;

}



.settings label{

display:block;

margin-top:20px;

}



select{

width:100%;

padding:12px;

margin-top:5px;

background:#0f172a;

color:white;

border-radius:8px;

border:1px solid #334155;

}
