*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:#0b1120;
color:white;
font-family:Arial, sans-serif;

}



header{

height:80px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 30px;

background:#111827;

border-bottom:1px solid #334155;

}



.logo{

display:flex;

align-items:center;

gap:12px;

font-size:28px;

font-weight:bold;

color:#3b82f6;

}



.logo img{

width:45px;
height:45px;

}



.top-buttons button{

margin-left:10px;

}



button{

background:#2563eb;

border:none;

color:white;

padding:12px 22px;

border-radius:10px;

cursor:pointer;

}



button:hover{

background:#1d4ed8;

}



.slicer{

display:flex;

height:calc(100vh - 80px);

}



.settings{

width:300px;

background:#111827;

padding:25px;

border-right:1px solid #334155;

}



.settings h2{

font-size:18px;

margin-top:25px;

margin-bottom:8px;

}



select{

width:100%;

padding:12px;

background:#0f172a;

color:white;

border:1px solid #334155;

border-radius:8px;

}



.slice{

width:100%;

margin-top:35px;

font-size:18px;

}



.viewer{

flex:1;

display:flex;

flex-direction:column;

align-items:center;

padding:30px;

}



.viewer h2{

margin-bottom:20px;

}



.model{

width:70%;

height:70%;

background:#111827;

border-radius:20px;

border:2px dashed #334155;

display:flex;

align-items:center;

justify-content:center;

}



.model::after{

content:"Drop STL model here";

color:#64748b;

font-size:22px;

}



.info{

margin-top:20px;

color:#94a3b8;

}

input[type="range"]{

width:100%;

margin-top:15px;

accent-color:#2563eb;

}


label{

display:block;

margin-top:15px;

color:#cbd5e1;

}
